.profile {

}

.avatar {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

.avatarCol {
	padding-right: 40px;
}

.lensLabel {
	background: linear-gradient(270deg, rgba(188, 249, 90, 0.6) -14.4%, rgba(188, 249, 90, 0) 46.8%);
}

.name {
	font-size: 50px !important;
	line-height: 64px;
	margin-bottom: 6px !important;
	&__icon {
		margin-left: 15px;
	}
}

.bio {
	font-size: 18px;
	font-family: 'Space Mono', sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 27px;
}

.info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.stats {
	display: flex;
	align-items: center;
	margin-left: 25px;

	&-item {
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}

		&__number {
			font-weight: 700;
		}
	}
}


